.container{
    padding-bottom: 2.5vw;
}

.softwares{
    font-style: italic;
    font-weight: 300;
}

.ptitle{
    color: #0D00FF;
    font-size: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 0.8vw;

}