

.postermockup{
    display: block;
    margin: auto;
    width: 90%;
}

.postmocks{
    display: block;
    margin: auto;
    width: 80%
}

.storymock{
    display: block;
    margin: auto;
    width: 25%;
}

.posterlarge{
    display: block;
    margin: auto;
    width: 35%;
}

.title{
    font-family: 'Covered By Your Grace';
    font-size: 2vw;
}

.par{
    margin-top: 2vw;
    max-width: 35vw;
    line-height: 1.2vw;
}

.rawphotos{
    width: 30%;
}