.logo{
    background-image: url(./images/logo.png);
    height: 50vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   transform: translateY(-7vw);
   position: absolute;
    
}



.font {
    font-family: "Xanh Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers all child elements horizontally */
    text-align: center; /* fallback for inline text */
    transform: translateX(-2vw)
}

.name {
    font-size: 2vw;
    padding-bottom: 1vw;
    padding-top: 40vw;
    letter-spacing: 0.1em;
    font-style: italic;
}

.multi {
    font-size: 1.2vw;
  
    padding-bottom: 0.7vw;
    color: #282626;
}

.bio {
    font-size: 1.4vw;
    max-width: 80vw;
    text-align: center; 
   color: #282626;
}

@media (max-width: 800px){
.logo{
   
    width: 100vw;
    transform: translateY(-2em)
}


.name{
    padding-top: 40vw;
    font-size: 1em;
    padding-bottom: 0.8vw;
}
.multi {
    font-size: 0.8em;
    padding-bottom: 1vw;
}

.bio{
    font-size: 0.8em;
}

}