.bioContainer {
  display: grid;
  margin-bottom: 2vw;
  grid-template-columns: 1fr 2fr 1fr;
}

.profileImage {
  min-width: 18vw;
  padding-right: 1vw;
}

.contentWrapper {
  max-width: 34vw;
  font-size: 1.1vw;
}

.contactRow {
  display: flex;
  margin-bottom:  0.5vw;
}

.contactIcon {
  width: 5%;
  margin-right: 0.5vw;
  margin-left: 1vw;

}

.contactText {
  color: #0D00FF;
}

.bioText{
    line-height: 1.3vw;
    margin-left: 1vw;
    margin-top: 1vw;
    max-width: 28vw
}