.container{
   display: flex;
   flex-direction: column;
   align-items: center;
}


.logo{
    margin-top: 15vw;
    width: 25%;
}

.name{
    font-family: 'Covered By Your Grace';
    font-size: 2vw;
    margin-top: 1vw;
}


.softwares{
    font-size: 0.8vw;
    font-weight: 600;
    margin-top: 1vw;
}

.overview{
    font-size: 0.8vw;
    text-align: center;
    margin-top: 1vw;
    line-height: 0.8vw;
    max-width: 25vw;
}