.container{
    display: flex;
    gap: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    position: fixed;
    bottom: 0;
    background-color: #F0F0F0;
    z-index: 1000;
    width: 100vw;
}

.title{
    font-family: "Xanh Mono";
    font-size: 2vw;
}

.subtitle{
    font-size: 1vw;
    font-style: italic;
}

.info{
    font-size: 1vw;
    max-width: 40vw;
}


@media (max-width: 800px){

    .container{
        gap: 6vw;
    }
    .title{
        font-size: 4vw;
    }

    .subtitle{
        font-size: 3vw;
    }

    .info{
        font-size: 1.5vw;
    }
}